// typography//

@mixin blockquote {
    .blockquote {
        font-size: 1.5em;
        font-weight: 300;
        font-style: italic;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 8px solid #58e1c1;
        border-radius: 5px;
    }
}
//button//

@mixin button {
    .btn {
        margin-top: 15px;
        width: 100%;
        color: #fff;
        border: none;
        padding: 10px 0;
        text-transform: uppercase;
        border-radius: 10px;
    }
}
// Forms //
@mixin input {
    .input {
        display: block;
        width: 94%;
        margin: 10px auto 0;
        border: none;
        padding: 10px;
        border-bottom: 5px solid #58e1c1;
    }
}

@mixin hidden {
    .hidden {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

//img //

@mixin avatar {
    .img-avatar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 100%;
        max-height: 100%;
    }
}

@mixin frame {
    .img-frame {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 100%;
        padding: 13px;
        border: 1px solid #ccc;
    }
}

@mixin logo {
    .img-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

// media queries //

@mixin container {
    .container {
        max-width: 1400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


//nav //



@mixin link {
    .nav-link {
        text-align: center;
        border-radius: 5px;
        padding: 10px 0;
        display: block;
        width: 100%;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
    
}