/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.row {
  @include button;
}
.default {
  background-color: $bot-blue;
  &:hover {
    background: $blue-dark;
    transition: 1s;
  }
}

.error {
  background-color: $bot-salmon;
  &:hover {
    background: $salmon-dark;
    transition: 1s;
  }
}

.info {
  background-color: $bot-purple;
  &:hover {
    background: $purple-dark;
    transition: 1s;
  }
}

.success {
  background-color: $bot-green;
  &:hover {
    background: $green-dark;
    transition: 1s;
  }
}

.warning {
  background-color: $bot-orange;
  &:hover {
    background: $orange-dark;
    transition: 1s;
  }
}
